In [40]:
'''1) Verify if a value is integer'''
n=6
n==int(n)

True

In [36]:
'''2) Verify if a value is even'''
n=input("n=")
m=input("m=")
n==m

n=2
m=2

True

In [43]:
'''3) Insert two numbers. Is the first is bigger than the second?'''
a=input("a=")
b=input("b=")
a>=b

a=5
b=4

True

In [49]:
'''4) Verify if one value is multiple of another'''
a=9
b=18
b%a==0

True

In [ ]:
'''5) Calculate the interest earn by an investor that invested a capital of 200 during 3 years with an interest rate of 3%. (I=P*R*T)'''
capital= 200
time=3
rate=0.03

interest= capital*time*rate
print(interest)

In [ ]:
'''6) Capital that an investor obtained after investing a capital of 200 during 3 years with an interest rate of 3%. (Compoundinterest)'''
pv=200
N=3
n=1
r=0.03
fv= pv*(1+r/n)**(n*N)
print(fv)

In [ ]:
 '''7) Calculate your BMI (Body Mass Index)'''
weight= 55
height= 1.54
BMI= weight/(height**2)
print(BMI)

In [ ]:
'''8) Calcule the Golden ration:'''
gr=(1+5**(1/2))/2
print(gr)

In [2]:
'''9) Calculete the NPV (Net present value) of an investment, considering an initial investment of 10000, the following Cashflows2000,3000, 4000, 4000 and 5000 and a discount rate of 10%'''
fv1=2000
fv2=3000
fv3=4000
fv4=4000
fv5=5000
I=10000
r=0.1

NPV= fv1/(1+r)+fv2/(1+r)**2+fv3/(1+r)**3+fv4/(1+r)**4+fv5/(1+r)**5 -I
print(NPV)

3139.440301519393

In [ ]:
'''10) Ask the user to insert name and age. Calculate the the birth. Print a result saying the 'this person was born in' '''
name=input("What's you name?")
age= input("Nice to meet you. How old are you?")
from datetime import date
today= date.today()
today.year
birth= today.year-int(age)
print(birth)

In [50]:
'''11) Ask the user to insert forenames, surnames. create a new variable (name) with your complete name.'''
fn=input("What's your firstname?")
ln=input("Ok thank you. And now your lastname please?")
name=fn+" "+ln
print(name)
'''all the characters of the name are capitalized'''
nameBig=(name).upper()
print(nameBig)
'''only the first character of each name (word) is capitalized'''
nameTitle=(name).title()
print(nameTitle)
'''all the characters of the name are lower'''
nameSmall=(name).lower()
print(nameSmall)
'''only the first charater of the first name is capitalized'''
nameCapitalized=(name).capitalize()
print(nameCapitalized)

What's your firstname?Anne-Sophie
Ok thank you. And now your lastname please?vienne
Anne-Sophie vienne
ANNE-SOPHIE VIENNE
Anne-Sophie Vienne
anne-sophie vienne
Anne-sophie vienne

In [32]:
''' 12) Use the follwoing method to show where in which carater appears the first "de"'''
string="Je viens de l'île de la Réunion"
'''
If it doesn't find "de", it shows "-1"
'''
string.find("de",0,len(string))

9